= simple_form_for @post do |f|
  = f.input :image
  = f.input :caption
  = f.button :submit

-@posts.each do |post|
  .row
    =link_to (image_tag post.image.url(:medium)), post_path(post)
    %p= post.caption
